body {
    background-color: rgb(209, 209, 214);
    color: rgb(36, 36, 38);
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
    padding: 20px 40px 20px 40px;
}

p {
    font-size: 12pt;
}

h1 {
    font-size: 36pt;
}

h2 {
    font-size: 24pt;
    text-align: center;
}

#title {
    text-align: center;
    text-transform: uppercase;
}

#img-div {
    background-color: rgb(142, 142, 147);
    display: block;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#image {
    border-radius: 10px;
    width: fit-content;
    max-width: 50%;
}

#timeline {
    padding-left: 50px;
    padding-right: 50px;
}

ul {
    list-style-type: none;
}

.quote {
    text-align: center;
    font-weight: 100;
    font-style: italic;
}

.date {
    font-weight: 600;
}

.comment {
    font-size: 12pt;
}

#remember {
    background-color: rgb(142, 142, 147);
    display: block;
    padding: 20px;
}